* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-color: black;
}

body {
    background-color: #DDBEA8;
    color: #160F29;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
    margin: 25px;
    border-width: 2px;
    border-color: #e29578;
    padding: 10px;
    text-align: justify;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center; 
    position: sticky;
    top: 0;
    width: auto;
    background-image: url('../images/banner.jpg');
    background-size: cover;
    z-index: 999;
    /* position: fixed; */
}


.menu {
    display: flex;
    width: 75%;
    /* padding: 20px; */
    /* background-color: #368F8B; */
    /* color: #F3DFC1; */
    /* border-radius: 15px; */
    margin: 30px auto;
    justify-content: space-evenly;
    align-items: center;
}

.sections {
    width: 75%;
    padding: 20px;
    background-color: #368F8B;
    color: #F3DFC1;
    border-radius: 15px;
    margin: 30px auto;
}

h1 {
    display: flex;
    text-align: center;
    color: #004147;
    text-shadow: 5px 5px 5px #F3DFC1;
    font-size: 400%;
    border-color: black;
    font-style: italic;
    flex-shrink: 1;
}

ul, ol {
    margin-left: 50px;
}

.slide-container {
    width: 800px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    text-align: center;
}

.image-container {
    width: 2400px;
    height: 450px;
    position: relative;
    transition: left 2s;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
}

.slider-image {
    float: left;
    margin: 0px;
    padding: 0px;
}

.button-container {
    top: -40px;
    position: relative;
}

.slider-button {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #F3DFC1;
}

#slider-image-1:target ~ .image-container{
    left: 0px;
}
#slider-image-2:target ~ .image-container{
    left: -800px;
}
#slider-image-3:target ~ .image-container{
    left: -1600px;
}

a:hover {
    font-size: 150%;
    color: #246A73;
    background-color: #F3DFC1;
    transition: 0.5s ease-in, 0.5s ease-out;
    padding: 10px;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#home,
#golf,
#angling,
#towns {
    padding: 40px;
}

#links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}